* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color:lightblue;
}

body {
    text-align:center;
}

h1 {
    font-size: 18px;
}

h2, legend {
    font-size: 14px;
    font-weight: normal;
}

fieldset {
    min-width: 200px;
    margin-right:auto;
    margin-left:auto;
    border: 1px solid black;
    border-radius:10px;
}

ul {
    list-style-type:none;
    display:flex;
    flex-direction:column;
}

li {
    width: 100%;
    background-color:white;
    color:blue;
    text-align:left;
    border: 1px solid white;
    margin-top:10px;
    border-radius: 10px;
}

input {
    padding: 10px;
    margin: 10px;
    font-size:14px;
    background-color:red;
    color:white;
    border-radius:10px;
}

h3 {
    margin-top:20px;
    font-size:18px;
}

div.current-score {
    margin-top:5px;
    margin-bottom:5px;
    font-size: 14px;
}

.success-image {
    max-width: 350px;
    max-height: 250px;
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    margin-top: 20px;
    font-size:14px;
}

@media only screen and (min-width:600px) {
    ul {
        flex-direction:row;
    }

    li {
        margin:10px;
    }
}